.active {
    background-color: var(--accent);
    color: var(--contrast);
    & mat-icon {
      color: var(--contrast) !important;
    }
}

.app-sidenav-content {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    min-height: calc(100vh - 64px);
    @media only screen and (max-width: 600px) {
      margin-top: 56px;
      min-height: calc(100vh - 56px);
    }
    .app-content {
      flex: 1;
    }
}

mat-sidenav-content {
    flex: 1;
}

mat-sidenav {
    width: 16rem;
}

.sidenav-header {
    background: var(--primary);
    color: var(--contrast);
    position: relative;
    height: 5rem;

    h2 {
      padding: 0;
      margin: 0;
      text-align: left;
      padding: 1rem;
      line-height: 2.8rem;
    }
    h3 {
      padding: 0;
      margin: 0;
      text-align: left;
      padding: 1rem;
      line-height: 2.2rem;
    }
}

.sidenav-content {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a.mat-button, button.mat-button {
          height: 3rem;
          line-height: 2.8rem;
          text-align: left;
          width: 100%;
          font-size: 1rem;

          mat-icon.mat-icon.material-icons {
            float: left;
            line-height: 2.7rem;
            margin-right: 1rem;
            color: var(--foreground);
          }
        }
      }
    }
}

.logo-img {
  width: 11em;
}

.spacer {
  flex: 1 1 auto;
}

.radio-btn {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

mat-toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}